<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Ezel</title>
		<link rel="stylesheet" href="/assets/base.css" />
		<link href="http://fonts.googleapis.com/css?family=Merriweather:400,300,700|Crimson+Text:400" rel="stylesheet">
	</head>
	<body lang="en">
		<nav role="navigation" class="page">
			<a href="/" id="logo">Nate Hunzaker</a>
			<ul>
				<li><a href="/">home</a></li>
				<li><a href="http://www.github.com/nhunzaker" title="Visit archives">github</a></li>
				<li><a href="http://feeds.feedburner.com/natehunzaker">rss</a></li>
			</ul>
		</nav>

		<main>
			{{{body}}}
		</main>

		<footer id="footer">
			<small class="legal">
				Proudly powered by
				<a href="https://github.com/rendrjs/rendr"><strong>Rendr</strong></a>
			</small>
		</footer>

		<script>
			{{sharify.script}}
		</script>
		<script src="/assets/commits.js"></script>
	</body>
</html>
