<!DOCTYPEhtml>
<html lang="en">
	<head>
		<meta charset='utf-8'/>
		<title>Rendr</title>
		<link rel="stylesheet" href="/styles.css" type="text/css" />
		<link href="http://fonts.googleapis.com/css?family=Merriweather:400,300,700|Crimson+Text:400" rel="stylesheet">
	</head>
	<body lang="en">
		<nav role="navigation" class="page">
			<a href="/" id="logo">Nate Hunzaker</a>
			<ul>
				<li><a href="/">home</a></li>
				<li><a href="http://www.github.com/nhunzaker" title="Visit archives">github</a></li>
				<li><a href="http://feeds.feedburner.com/natehunzaker">rss</a></li>
			</ul>
		</nav>

		<section id="content">
			{{{body}}}
		</section>

		<footer id="footer">
			<small class="legal">
				Proudly powered by
				<a href="https://github.com/rendrjs/rendr"><strong>Rendr</strong></a>
			</small>
		</footer>

		<script src="/bundle.min.js"></script>
		<script>
			(function() {
				var App = window.App = new (require('app/app'))({{json appData}});
				App.bootstrapData({{json bootstrappedData}});
				App.start();
			})();
		</script>
	</body>
</html>
