<section class="home" role="content">
	{{#each models}}
		<article class="preview">
			<time>{{date}}</time>
			<section class="content">
				<h2 class="title">
					<a href="/posts/{{id}}">{{title}}</a>
				</h2>
			</section>
		</article>
	{{/each}}
</section>
