<nav role="navigation" class="page">
	{{#link "" id="logo"}}Nate Hunzaker{{/link}}
	<ul>
		<li>{{#link ""}}home{{/link}}</li>
		<li><a href="http://www.github.com/nhunzaker" title="Visit archives">github</a></li>
		<li><a href="http://feeds.feedburner.com/natehunzaker">rss</a></li>
	</ul>
</nav>
