$master  : 58.971em;
$content : 53.971em;

[role="navigation"] {
    margin: 0 auto;
    padding: 0 12.5%;
    position: relative;
    width: $master;
    z-index: 1;
}

[role="content"] {

    margin: 0 auto;
    position: relative;
    width: 75%;
    max-width: $content;
    z-index: 1;


    &.single {

        float: none;

		header {
			margin-bottom: 0;
		}

    }

    &.home {
        margin-top: 40px;
        max-width: $master;

		.title {
			margin-top: 15px;
		}
    }

}

.preview {
    border-bottom: 1px dotted #D9D9D9;
    display: block;
    margin-bottom: 40px;
    overflow: hidden;
    padding: 3px 0 2.618em;
    position: relative;

    > time {
        color: #aaa;
        display: block;
        float: left;
	    font-family: "Ubuntu Condensed", "Tahoma";
        line-height: 0.5em;
        padding: 0 32px 5px 0;
        position: relative;
        width: 20%;
        top: 32px;
        white-space: nowrap;
        width: 107px;
    }

    > .content {
        display: block;
        float: right;
        width: 60%;
        padding: 0 12.5%;

		.title {
        	font-size: 2.311em;
        }
    }
}

hr {
    border: 0;
    border-bottom: 1px dotted #d9d9d9;
    display: block;
    clear: both;
    margin: 0;
}